@using WeddingPlanner.Models
@model Login_Register_wrapper
<div>
    <partial name="_Register" model="@Model.Register" />
</div>    
<div>
    <partial name="_Login" model="@Model.Login" />
</div>    